### Functions

In [1]:
def add(a,b):
    sum = a+b
    return sum
add(10,24)

34

#### function arguments
1.default arguments

2.positional arguments

3.keyword arguments

4.variable length arguments

In [6]:
def display(a=10,b=50):
    sum = a+b
    print(sum)
display()

60

In [7]:
def display(a=10,b=50):
    print(a)
    print(b)
display()

10
50

In [8]:
#default arguments
def display(a,b):
    sum = a+b
    print(sum)
display(10,30)

40

In [10]:
#positional arguments
def display(a,b):
    sum = a+b
    print(sum)
display(b=30,a=45)

75

In [15]:
def display(a,b):
    sum = a+" "+b
    print(sum)
display(b="sum",a="value")

value sum

In [12]:
#keyword arguments
def names(firstname,lastname):
    print("first name is:",firstname)
    print("last name is:",lastname)
names("sushma","maddikunta")

first name is: sushma
last name is: maddikunta

In [16]:
# variable length argument
def display(*a):
    print(a)
display(["ravi",10.4,345,True,2+3j])

(['ravi', 10.4, 345, True, (2+3j)],)

In [20]:
n = int(input("enter a number:"))
def display(n):
    print(n)
display(n)

enter a number:90
90

In [42]:
#Factors of a given number
def factors(n):
    n = int(input("enter a number:"))
    for i  in range(1,n+1):
        if n%i==0:
            print(i,end=" ")
factors(n)

enter a number:6
1 2 3 6

In [45]:
#find the largest of 3 numbers
def largest(n1,n2,n3):
    if n1>n2 and n1>n3:
        print("largest number is:",n1)
    elif n2>n1 and n2>n3:
        print("largest number is:",n2)
    else:
        print("largest number is:",n3)
largest(6,6,37)

largest number is: 37

In [59]:
#If the number is in given range then return true else false
n = int(input("enter a number:"))
for i in range(1,10):
    if i==n:
        print(True)

enter a number:6
True

In [67]:
n = int(input("enter a number:"))
def number_in_range():
    for i in range(1,10):
        if i==n:
            return True
    return False
number_in_range()

enter a number:11

False

### Set

In [74]:
s1 = {()}

In [69]:
type(s1)

set

In [75]:
s2 = {1,2,3,4,"jasmine","lilly","rose"}
print(s2)

{1, 2, 3, 4, 'rose', 'lilly', 'jasmine'}

In [78]:
for i in s2:
    print(i)

1
2
3
4
rose
lilly
jasmine

In [79]:
s3={1,3,6,7,9,10}
s4 = {2,0.3,5,6}
s3.union(s4)

{0.3, 1, 2, 3, 5, 6, 7, 9, 10}

In [80]:
s3.difference(s4)

{1, 3, 7, 9, 10}

In [81]:
s3.intersection(s4)

{6}

In [82]:
print(max(s3),min(s4))

10 0.3

In [89]:
s3 = {1,3,4,6,7}
s3.add('sushma')
print(s3)

{1, 3, 4, 6, 7, 'sushma'}

In [91]:
s3 = {1,3,4,6,7}
s3.update('ravi')
print(s3)

{1, 3, 4, 6, 7, 'a', 'r', 'v', 'i'}

In [95]:
s3 = {1,3,4,6,7}
s3.update([1,2])
print(s3)

{1, 2, 3, 4, 6, 7}

In [102]:
s3.pop()
print(s3)

{4, 6, 7}

In [103]:
s3.remove(4)

In [104]:
print(s3)

{6, 7}

In [117]:
s4 = {1,3,5,6,7,8}
s4.remove(3)

In [118]:
print(s4)

{1, 5, 6, 7, 8}

In [119]:
s4.discard(3)
print(s4)

{1, 5, 6, 7, 8}