# markdown

In [0]:
a = int(input())
print(a)

number

ValueError: ignored

In [0]:
a = int(input())
print(a)

10
10

In [0]:
a = int(input())
print(a)

10.5

ValueError: ignored

In [0]:
a = string(input())
print(a)

23

TypeError: ignored

In [0]:
a = 100
print(type(a))
s1 = "python"
print(type(s1))
s2 = str(a)
print(type(s2))

<class 'int'>
<class 'str'>
<class 'str'>

# Python
## Python
### Python
#### Python
##### Python
###### Python

In [0]:
a = 1234
print(len(str(a)))

4

# Image
![text]()

# Flower Image
![Text](https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510__340.jpg)

[site](https://www.pexels.com/search/beauty/)

[site](https://www.kaggle.com/)

1. some text
2. practicing



    1.python
      1. Python operators
      2. Python Lists
      3. Python Tuples
      4. Python Sets
      5. Python Dictionaries

- Types of flowers
    - Rose
    - Lilly
    - Tulip
- animals
    - Monkey
    - Donkey
    - Lion

**Anaconda - Python**

*Anaconda-Python*

# Arithmatic operations

In [0]:
a, b = 10,20
add = a+b
sub = a-b
mul = a*b
div = b/a
modulus = b%a
power = 2**5
floor_division = b//a
print(add)
print(sub)
print(mul)
print(div)
print(modulus)
print(floor_division)
print(power)

30
-10
200
2.0
0
2
32

# Left to Right

In [0]:
#paranthesis,power,division, addition
a = 1 + 2**3 / 4 + 5
print(a)

8.0

In [0]:
b = 1+2**4/2+5
print(b)

14.0

# Logical Operations

In [0]:
a = 32
b = 12
print(a>=20 and b<=10)
print(a>=10 or b<=20)
print(not a>b)

True
True
False

# Relational Operations

In [0]:
a=10
b=20
print(a==b)
print(a!=b)

False
True

# Membership Operators

In [0]:
a="string"
b="string"
print(a not in b)
print(a in b)

False
True

# Indexing and Slicing

In [0]:
s1="Hello"
print(type(s1))
print(len(s1))
print(s1[0])
print(s1[:])
print(s1[2:])
print(s1[::-1])

<class 'str'>
5
H
Hello
llo
olleH

In [0]:
a = int(input("enter a value:"))
print(a)

enter a value:2
2

In [0]:
# String examples
s1 = "Python Program"
print(len(s1))
print(s1[-1])
print(s1[-5])
print(s1[0:2])
print(s1[:2])
print(s1[-3:])
print(s1[1:-1])
print(s1[len(s1)//2])
print(s1[::-1])
print(s1[-1::-1])

14
m
o
Py
Py
ram
ython Progra
P
margorP nohtyP
margorP nohtyP

# String Built-in Methods

In [0]:
#lower
string = "PYTHON"
string2 = "Program"
s1 = string.lower()
print(s1)
#upper
print(string2.upper())
#join
print(",".join(string2))
print("-".join(string2))
print(" ".join(string2))
#split
str2 = "Python is a programming language"
print(str2.split())
#replace
print(str2.replace("Py","Ab"))

python
PROGRAM
P,r,o,g,r,a,m
P-r-o-g-r-a-m
P r o g r a m
['Python', 'is', 'a', 'programming', 'language']
Abthon is a programming language

In [0]:
print(int(5.5))

5

In [0]:
print(type(5.6))

<class 'float'>

In [0]:
string = "Python"
print(string[1::2])

yhn

In [0]:
string = "Python"
print(string[-1::-2])

nhy

In [0]:
x=20
y=30
if x>y:
  print("False")
else:
  print("True")

In [0]:
n = int(input("enter a number"))
if n%3==0 and n%5==0:
  print("Given number is divisible by 3 and 5")
else:
  print("Given number is not divisible by 3 and 5")

enter a number7
Given number is not divisible by 3 and 5

In [0]:
n = int(input("enter a number"))
if n%2==0:
  print("Even")
else:
  print("Odd")

enter a number3
Odd

In [0]:
2=="positive"

False

In [0]:
n = int(input("enter a number"))
if n>0:
  print("positive")
elif n<0:
  print("negative")
else:
  print("zero")

enter a number0
zero

In [0]:
#print the sum of even numbers in a given range:
n = int(input("enter limit:"))
i = 1
sum = 0
while(i<=n):
  if(i%2==0):
    print(i+"is a even number")
    sum = sum+i
  else:
    print(i+"is a odd number")
  i = i+1
print(sum)

In [0]:
n = 123
while n!=0:
  print(n%10, end=" ")
  n = n//10

In [0]:
# break
n = 10
for i in range(1,n+1):
  print(i,ends=" ")
  if i==5:
    break

In [0]:
# continue
n = 10
for i in range(1,n+1):
  if i==5:
    continue
    print(i,ends=" ")

In [0]:
L = ["string",'c',10,20.4,2+3j,True]
#slicing
print(L[2:])
print(L[:])
#indexing
L[3]

In [0]:
list = []
list[0] = True
list[1] = "Ravi"
list[2] = 10
list[3] = 34.2
list[4] = 2+3j
print(list)
print(list[1:-1])
print(list[-2])

In [0]:
#append
l=[1,2,3,4,5]
len(l)
l.append(7)
print(l)
#insert
l.insert(1,'9')
print(l)
#delete
del(l[1])
print(l)
for i in l:
  print(l)

In [0]:
l = [1,2,3,3,4,5,65]
print(6 in l)
print(6 not in l)

In [0]:
l = [10,20,30,40,50,60]
print(l[::2])
print(l[::-1])
l.count(10)
l.sort()
l.value_count()

In [0]:
#maximum value and minimum value
l = [1,3,6,8,9]
print(max(l))
print(min(l))
print(sum(l)) #sum

In [0]:
l = [3,9.8,"string",'c',True]
print(max(l))

In [0]:
#extend
l1 = [2,45,67,89,90]
l2 = [34,56,78,9,7]
l1.extend(l2)
print(l1)
d[45]

In [0]:
#append
l1 = [2,45,67,89,90]
l2 = [34,56,78,9,7]
l1.append(l2)
print(l1)

In [0]:
i=2
while(i=1):
  print(i)

In [0]:
#pop
l1 = [2,45,67,89,90]
l1.pop()
print(l1)
#remove
l1.remove()
print(l1)
#index
l1.index()

[2, 45, 67, 89]

TypeError: ignored

In [0]:
def swap-string(i,j):
  new_string = i[:2]+j[2:]
print(new_string)