## Tuple

##### Tuple is a immutable(can't change or modify the values) and denoted with paranthesis

In [96]:
t = (1,"tuple",34.5,True)
print(t)

(1, 'tuple', 34.5, True)

## Dictionary

##### Dictionary stored as key and value pair,denoted with {}

In [3]:
dic = {1:"Sushma",2:"Ravi"}
dic.keys()

dict_keys([1, 2])

In [4]:
dic.values()

dict_values(['Sushma', 'Ravi'])

In [5]:
print(dic)

{1: 'Sushma', 2: 'Ravi'}

In [18]:
d = {"gitam":"rudraram","IIT":"kandi"}
x = d.get("gitam")
print(x)

rudraram

In [10]:
print(d["gitam"])

rudraram

In [11]:
d["aws"] = 2006
print(d)

{'gitam': 'rudraram', 'IIT': 'kandi', 'aws': 2006}

In [12]:
d.items()

dict_items([('gitam', 'rudraram'), ('IIT', 'kandi'), ('aws', 2006)])

In [14]:
# del for deleting item
del d["aws"]
print(d)

{'gitam': 'rudraram', 'IIT': 'kandi'}

In [15]:
d.pop("gitam")
d

{'IIT': 'kandi'}

In [16]:
del d

In [ ]:
#clear
d.clear()

In [19]:
#looping with dictionary
for i in d:
    print(i)

gitam
IIT

In [22]:
for i in d.values():
    print(i)

rudraram
kandi

### Python(List & Tuple):

#### 1. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.

In [60]:
list = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
print(list)

['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

In [61]:
list.remove(list[0])
print(list)

['Green', 'White', 'Black', 'Pink', 'Yellow']

In [62]:
list.remove(list[3])
print(list)

['Green', 'White', 'Black', 'Yellow']

In [63]:
list.remove(list[3])
print(list)

['Green', 'White', 'Black']

In [50]:
del(list[0])

In [49]:
del(list[4])

In [48]:
del(list[5])

In [51]:
print(list)

['Green', 'White', 'Black']

#### 2.Write a Python program to remove duplicates from Dictionary.

In [3]:
dt = {1:'Red', 2:'Green', 3:'White', 4:'Black', 5:'Pink', 6:'Yellow',7:'Red',8:'Green',9:'Red',10:'White'}
print(dt)

{1: 'Red', 2: 'Green', 3: 'White', 4: 'Black', 5: 'Pink', 6: 'Yellow', 7: 'Red', 8: 'Green', 9: 'Red', 10: 'White'}

In [4]:
dt.values()

dict_values(['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow', 'Red', 'Green', 'Red', 'White'])

In [1]:
li = ['a','b','c','d','d','c','a']
myList = list(dict.fromkeys(li))
print(myList)

['a', 'b', 'c', 'd']

In [73]:
result = {}
for key,value in dict.items():
    if value not in result.values():
        result[key] = value

In [74]:
print(result)

{1: 'Red', 2: 'Green', 3: 'White', 4: 'Black', 5: 'Pink', 6: 'Yellow'}

#### Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

In [ ]:
List = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

#### 3.Write a Python program to create a dictionary from a string.

In [76]:
string = 'Dhyanahita'
len(string)

10

In [81]:
string = 'Dhyanahita'
dict = {}
for i in string:
    dict[i] = dict.get(i,0)+1

In [82]:
print(dict)

{'D': 1, 'h': 2, 'y': 1, 'a': 3, 'n': 1, 'i': 1, 't': 1}

#### 4.Write a Python program to find the second smallest number in a list.

In [88]:
list = [1,4,6,7,9,8,10,17,31]
#m_value = min(list)
#print(m_value)
list.sort()
print("second smallest number is:",list[1])

second smallest number is: 4

#### 5.Write a Python program to create a tuple with numbers and print one item.

In [111]:
list = [2,6,8,9,10]
len(list)

5

#### 6.Write a Python program to convert a list to a tuple

In [119]:
list = [2,6,8,9,10]
tuple(list)

TypeError: 'int' object is not callable

#### 7.Return no.of pairs which gives sum as 3 i.e, Append those pairs to a list and print the list. Do it using a single loop.

#### 8.Write a Python program to generate groups of five consecutive numbers in a list.

#### 9.Write a Python program to convert a list of characters into a string.